<body>
<form action="/tweet" accept-charset="UTF-8" method="post">
  <textarea name="text" id="text">
</textarea>
  <input type="submit" name="commit" value="Save changes" data-disable-with="Save changes" />
</form>
</body>
